body {
  background-color: black;
  font-family: Courier New, Courier,monospace;
  color: white;
  text-shadow: 0 0 2px #C8C8C8;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.20), black 120%
  );
  height: 100%;
  border: 10vh solid black;
  background-clip: content-box;
}
