<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> - {{ .Page.Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet"  href="{{.Site.BaseURL}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{{.Site.BaseURL}}/assets/css/karlsite.css">

</head>

<body>
{{ partial "navigation.html" . }}

{{ partial "header.html" . }}



<main class="container">
{{ .Content }}
</main>

<footer class="container py-4">
  &copy; {{.Site.Copyright}} {{ now.Format "2006"}}
</footer>
<script type="text/javascript" src="{{.Site.BaseURL}}/assets/js/bootstrap.min.js">
</script>
</body>
</html>
