<header class="container py-2">
 <h1 class="display-8">{{ .Page.Title}}</h1>
 <p class="lead">{{ .Site.Params.Lead}}</p>
 <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}/favicon.ico">
</header>
