<style>
    /* Modify the background color */

    .navbar-custom {
        background-color:#000000;
    }
    /* Modify brand and text color */

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text,
    .navbar-custom .nav-link{
        color: white;
    }
    .dropdown-menu {
        background-color:#000000;
    }
    .navbar-toggler-icon {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      background-color:#FFFFFF;
    }
</style>

<nav class="navbar navbar-expand-md navbar-custom ">
  <div class="container">
    <a class="navbar-brand" href="{{.Site.BaseURL}}"> Karl Mihhels </a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
  id="navbarMain" >
  <ul class="navbar-nav">

    <li class="nav-item" >
      <a class="nav-link"
      href="{{.Site.BaseURL}}/about">About </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
      href="{{.Site.BaseURL}}/final-project">Final Project</a>
    </li>

    <li class="nav-item dropdown"> <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarAssignments"
      role="button"
      data-bs-toggle="dropdown">
      Assignments</a>

      <ul class="dropdown-menu" >
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-00"
          class="dropdown-item">
          Assignment 00: Principles and practices</a>
        </li>

        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-01"
          class="dropdown-item">
          Assignment 01: Project management</a>
        </li>

        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-02"
          class="dropdown-item">
          Assignment 02: Computer-aided design</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-03"
          class="dropdown-item">
          Assignment 03: Computer-controlled cutting</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-04"
          class="dropdown-item">
          Assignment 04: Electronics production</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-05"
          class="dropdown-item">
          Assignment 05: 3D Scanning and printing</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-06"
          class="dropdown-item">
          Assignment 06: Electronics Design</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-07"
          class="dropdown-item">
          Assignment 07: Computer controlled machining </a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-08"
          class="dropdown-item">
          Assignment 08: Embedded programming</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-09"
          class="dropdown-item">
          Assignment 09: Input devices </a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-10"
          class="dropdown-item">
          Assignment 10: Machine design, Building an interface</a>
        </li>
        <li>
          <a class="nav-link"
          href="{{.Site.BaseURL}}/assignments/assignment-11"
          class="dropdown-item">
          Assignment 11: </a>
        </li>
  </ul>
  <li class="nav-item dropdown"> <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarAssignments"
    role="button"
    data-bs-toggle="dropdown">
    Group assignments</a>
    <ul class="dropdown-menu" >
      <li>
        <a class="nav-link"
        href="{{.Site.BaseURL}}/assignments/groupwork-01"
        class="dropdown-item">
        Assignment 01: Computer-controlled cutting</a>
      </li>

      <li>
        <a class="nav-link"
        href="http://ikola.gitlab.io/fab-academy/electronics-production-group.html"
        class="dropdown-item">
        Assignment 02: PCB milling - Hosted on another site</a>
      </li>
      <li>
        <a class="nav-link"
        href="{{.Site.BaseURL}}/assignments/groupwork-03"
        class="dropdown-item">
        Assignment 03: Design rules of 3d Printing</a>
      </li>
    </ul>

  <li class="nav-item">
    <a class="nav-link"
    href="{{.Site.BaseURL}}/student">Student agreement</a>
  </li>
</div>
</div> <!-- /. container -->
</nav>
