<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> - {{ .Page.Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet"  href="{{.Site.BaseURL}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{{.Site.BaseURL}}/assets/css/karlsite.css">

</head>

<body>
{{ partial "navigation.html" . }}
{{ partial "header.html" . }}



<main class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <div class="card">
          <img class="card-img-top"
          src="assignments/assignment-01/website1.png"
          alt="Assignment 1 image">
          <div class="card-body bg-dark">
            <h5 class="card-title">Assignment 01</h5>
            <p class="caard-text"> Project Management</p>
            <a class="btn btn-light " href="{{.Site.BaseURL}}/assignments/assignment-01" >
              View </a>
    </div>
  </div>
</main>

<footer class="container py-4">
  &copy; {{.Site.Copyright}} {{ now.Format "2006"}}
</footer>
<script type="text/javascript" src="{{.Site.BaseURL}}/assets/js/bootstrap.min.js">
</script>
</body>
</html>
