<div class="row">
    <div class="col-md-4">
      <a href="{{ .Get `src` }}" target="_blank">
    <img class="img-fluid"
    src="{{ .Get `src` }}"
     alt="{{ .Get `alt`}}">
</img>
</a>
  </div>
      <div class="col-md-8">
    <p>{{ .Inner}}</p>
      </div>
  </div>
