<a href="{{ .Get `src` }}" target="_blank">
 <div class="bg-white text-dark">
    <img class="img-fluid bg-white"
    src="{{ .Get `src` }}"
     alt="{{ .Get `alt`}}"></img>
   </a>
         <p>{{ .Inner }}</p>
</div>
